<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log a complaint</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>

    <style>

        input  {
        width:100%;
        border:1px solid #b6c8c8;
        border-radius:5px;
        height:20px; /*Styling for the input text boxes*/
    }

        textarea  {
            width:100%;
            border:1px solid #b6c8c8;
            border-radius:5px;
            height:40px; /*Styling for the input text boxes*/
        }
    </style>

</head>
<body>
<h2>Log your Complaint</h2>


<form action="#" id="complaintform" th:action="@{/complaintform}" th:object="${complaintform}" method="post">
    <p>ID: <input  type="text" th:field="*{complaintid}" /></p>
    <p>Category: <input type="text" th:field="*{complaintcategory}" /></p>
    <p>Complaint: <textarea type="text" th:field="*{complainttext}"></textarea> </p>
    <p>Customer ID: <input  type="text" th:field="*{customerid}" /></p>
    <p>Employee ID: <input  type="text" th:field="*{employeeid}" /></p>
    <p>Status: <input  type="text" th:field="*{complaintstatus}" /></p>
    <p ><input class="submitbutton" type="submit" value="Submit" /> </p>
</form>

</body>
</html>